* {
    background-color: aliceblue;
    text-align: center;
    border-radius: 4px;
    padding: 0px;
}

button {
    border-radius: 4px;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    height: auto;
    border: 1px black solid;
}

form {
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    max-width: fit-content;
    border: 1px black solid;
    font-size: 150%;
}

button:hover {
    filter: brightness(95%);
}

.navbar {
    list-style-type: none;
    background-color: rgb(213, 227, 239);
    float: left;
    padding: 8px;
    width: 100%;
    position: fixed;
    top: 0;
}